In [15]:
import matplotlib.pyplot as plt
import threading
import pandas as pd

In [16]:
filename = "data.csv"
data = pd.read_csv(filename)

In [17]:
data

,version,protocol,src_ip,des_ip,arrival_time,departure_time
0,1.0,1.0,10.0.2.4,142.250.182.35,1.682946e+09,NaN
1,1.0,1.0,142.250.182.35,10.0.2.4,1.682946e+09,NaN
2,1.0,1.0,142.250.182.35,10.0.2.4,1.682946e+09,NaN
3,1.0,1.0,10.0.2.4,142.250.182.35,1.682946e+09,NaN
4,1.0,1.0,10.0.2.4,142.250.192.131,1.682946e+09,NaN
...,...,...,...,...,...,...
16041,1.0,1.0,10.0.2.4,142.250.193.106,1.682948e+09,NaN
16042,1.0,1.0,142.250.193.106,10.0.2.4,1.682948e+09,NaN
16043,1.0,1.0,10.0.2.4,142.250.193.106,1.682948e+09,NaN
16044,1.0,1.0,142.250.193.106,10.0.2.4,1.682948e+09,NaN
16045,1.0,1.0,142.250.193.106,10.0.2.4,1.682948e+09,NaN

In [18]:
data[data["src_ip"]=="10.0.2.4"].count()

version           8206
protocol          8206
src_ip            8206
des_ip            8206
arrival_time      8206
departure_time       0
dtype: int64

In [19]:
data["arrival_time"]

0        1.682946e+09
1        1.682946e+09
2        1.682946e+09
3        1.682946e+09
4        1.682946e+09
             ...
16041    1.682948e+09
16042    1.682948e+09
16043    1.682948e+09
16044    1.682948e+09
16045    1.682948e+09
Name: arrival_time, Length: 16046, dtype: float64